<div class="container body">
    <div class="login-area">
        <!-- <div class="overlay"></div> -->
        <div class="s-center">
            <div class="s-center-content">
                <section id="login-content">
                    <h2 class="brand-logo">{{title}}</h2>
                    <form role="form" method="POST">
                        <div class="form-group">
                            <input type="text" name="email" value="" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password" required="required" />
                        </div>
                        <div class="button-area">
                            <input type="submit" class="btn btn-primary" name="" routerLink="/dashboard" value="Sign In">
                            <p>
                                forgot password?
                                <a class="reset_pass" routerLink="/dashboard">click here</a>
                            </p>
                            <h6 class="change_link">
                                <a class="to_register" routerLink="/register">Register Here</a>
                            </h6>
                        </div>
                    </form>

                    <div class="other-media">
                        <p>Login with social account.</p>
                        <div class="login-providers">
                            <a>
                                <button type="button" class="fb-login-button button button-primary button-oa2-facebook login-provider register-oa2-facebook">
                                    <div class="icon fa fa-facebook" aria-hidden="true"></div>
                                    <span aria-hidden="true">Facebook</span>
                                </button>
                            </a>

                            <a>
                                <button type="button" class="button button-primary button-oa2-google-oauth2 login-provider register-oa2-google-oauth2" data-onsuccess="onGoogleSignIn">
                                    <div class="icon fa fa-google-plus" aria-hidden="true"></div>
                                    <span aria-hidden="true">Google</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>