body {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
}

.login-area {
    background: url(../img/bg.png) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.s-center {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.s-center-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#login-content {
    display: inline-table;
}

#login-content .brand-logo {
    display: table;
    background: url(../img/eatenary-logo-white.png) center no-repeat;
    background-size: contain;
    width: 300px;
    height: 88px;
    text-indent: -6666em;
    margin: 0 auto 48px;
}

#login-content form {
    margin-bottom: 32px;
}

#login-content .form-control {
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.3);
    font-size: 18px;
    padding: 10px 10px;
    height: auto;
    margin: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#login-content .btn {
    font-size: 18px;
    width: auto;
    min-width: 200px;
    background: #A41E23;
    border-color: #A41E23;
}

#login-content .button-area p {
    margin-top: 10px;
}

#login-content p {
    color: #fff;
    letter-spacing: 0.5pt;
    margin: 0;
    -webkit-text-shadow: 0px 0px 10px #000;
    -moz-text-shadow: 0px 0px 10px #000;
    -ms-text-shadow: 0px 0px 10px #000;
    -o-text-shadow: 0px 0px 10px #000;
    text-shadow: 0px 0px 10px #000;
}

#login-content a {
    color: #fff;
    text-decoration: underline;
    -webkit-text-shadow: 0px 0px 10px #000;
    -moz-text-shadow: 0px 0px 10px #000;
    -ms-text-shadow: 0px 0px 10px #000;
    -o-text-shadow: 0px 0px 10px #000;
    text-shadow: 0px 0px 10px #000;
}

#login-content .change_link {
    margin: 30px 0 0;
    font-size: 16px;
}

#login-content ::-webkit-input-placeholder {
   color: #fff;
}

#login-content :-moz-placeholder {
   color: #fff;
}

#login-content ::-moz-placeholder {
   color: #fff;
}

#login-content :-ms-input-placeholder {
   color: #fff;
}

.clearfix:after, form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#login-content .other-media p {
    margin: 0 0 10px;
}

#login-content p {
    color: #fff;
    letter-spacing: 0.5pt;
    margin: 0;
    -webkit-text-shadow: 0px 0px 10px #000;
    -moz-text-shadow: 0px 0px 10px #000;
    -ms-text-shadow: 0px 0px 10px #000;
    -o-text-shadow: 0px 0px 10px #000;
    text-shadow: 0px 0px 10px #000;
}

.login-providers {
    text-align: center;
}

.login-providers .login-provider {
    position: relative;
    width: 130px;
    height: 32px;
    text-shadow: none;
    text-transform: none;
    box-shadow: none;
    background: transparent;
    border-radius: 5px;
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 5px 20px;
    text-align: center;
}

#login-content .other-media .login-providers a {
    text-decoration: none;
}

.login-providers .button-oa2-facebook {
    background: #126f9a;
    color: #fff;
    margin: 0 8px 0 0;
}

.login-providers .login-provider.button-oa2-facebook {
    color: #fff;
}

.login-providers .button-oa2-google-oauth2 {
    background: #DD4B39;
    color: #fff;
}

ul.parsley-errors-list {
    list-style: none;
    color: #E74C3C;
    padding-left: 0;
}

#register-content {
    background: url(../img/bg-register.png) center no-repeat;
    background-size: cover;
    padding: 60px 0 40px;
}

#register-content .wording {
    color: #a7a7a7;
    letter-spacing: 0.5pt;
    margin: 10px 0 0;
    font-size: 14px;
    text-align: center;
}

#register-content .wording a {
	color: #A41E23;
	font-weight: 600;
}

#register-content .brand-logo {
    margin: 0;
}

#register-content .brand-logo a {
    background: url(../img/eatenary-logo.png) center no-repeat;
    background-size: contain;
    text-indent: -6666em;
    display: table;
    margin: 0 auto 60px;
    width: 470px;
    height: 137px;
}

#register-content .form-group {
	margin-bottom: 10px;
}

#register-content .row {
	margin-right: 0;
	margin-left: 0;
}

#register-content .form-control {
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    padding: 12px 20px;
    height: auto;
}

#register-content .form-control.disable {
    background: #ddd;
    color: #999!important;
}

#register-content .form-group .col-md-12 {
	padding: 0;
}

#register-content .form-group .col-md-6 {
	padding: 0 5px 0 0;
}

#register-content .form-group .col-md-6:last-child {
	padding: 0 0 0 5px;
}

#register-content .form-group .col-md-4 {
	padding: 0 10px;
}

#register-content .form-group .col-md-4:first-child,
#register-content .form-group .col-md-4:last-child {
	padding: 0;
}

#register-content .form-group .term {
	display: table;
	margin: 20px auto;
}

#register-content .form-group .term label {
	color: #a7a7a7;
}

#register-content .form-group .term label a {
	color: #A41E23;
	font-weight: 600;
}

#register-content .button-block {
	margin: 0 0 10px;
	display: table;
    margin: 0 auto;
}

#register-content .button-block .button {
	display: table;
    margin: 0 auto;
    padding: 10px 16px;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    width: 200px;
}
#register-content .button-block .button i {
	margin: 0 5px 0 0;
}

#register-content .button-block .button.fb {
	background: #126f9a;
	margin: 0 10px 0 0;
}
#register-content .button-block .button.google {
	background: #DD4B39;
}

#register-content .form-group .head-label {
	display: block;
	margin: 10px 0;
}

#register-content .form-group ul.radio {
    padding-right: 5px;
	margin: 10px 0;
}

#register-content .form-group ul.radio li {
	margin: 0 20px 0 0;
}

#register-content .form-group ul.radio li:last-child {
	margin: 0;
}

#register-content .form-group ul.radio label {
	padding: 0;
}

#register-content .form-group ul.term {
	margin: 20px auto;
}

#register-content .button-area {
	display: block;
}

#register-content .button-area input[type="submit"] {
	margin: 0 auto;
    display: table;
    background: #A41E23;
    color: #fff;
    border-color: #A41E23;
    border-top-color: transparent;
    width: 200px;
}

#register-content input[type="checkbox"],
#register-content input[type="radio"] {
    display:none;
}

#register-content input[type="checkbox"] + label,
#register-content input[type="radio"] + label {
    font-size:14px;
}

#register-content input[type="checkbox"] + label span,
#register-content input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 8px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

#register-content input[type="checkbox"] + label span {
	-moz-border-radius:  3px;
    border-radius:  3px;
    -moz-border-radius:  3px;
    border-radius:  3px;
}

#register-content input[type="checkbox"] + label span,
#register-content input[type="radio"] + label span {
     background-color: #fff;
     border: 1px solid #A41E23;
}

#register-content input[type="checkbox"]:checked + label span,
#register-content input[type="radio"]:checked + label span {
     background-color: #A41E23;
}

#register-content input[type="checkbox"]:checked + label span:before {
	content     : '✓';
	color: #fff;
    line-height: 19px;
    width: 17px;
    text-align: center;
    display: inline-block;
    height: 17px;
    font-size: 1em;
    vertical-align: top;
}

#register-content input[type="checkbox"] + label span,
#register-content input[type="checkbox"]:checked + label span,
#register-content input[type="radio"] + label span,
#register-content input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.1s linear;
  -o-transition:background-color 0.1s linear;
  -moz-transition:background-color 0.1s linear;
  transition:background-color 0.1s linear;
}

@media (min-width: 992px) {
	#register-content .container {
	    width: 970px;
	}
}

@media (min-width: 768px) {
	#register-content .container {
	    width: 750px;
	}
}

#register-content .button-area {
	padding: 0;
	list-style: none;
    margin: 32px 0;
}

.button-area li {
	float: left;
}

.button-area li:first-child {
	margin-right: 16px;
}

ul.flat {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
}

ul.flat li {
    float: left;
    margin: 0 8px 0 0;
}

ul.flat label {
    color: #A41E23;
    text-align: left;
    margin: 0;
    font-weight: 500;
}

#register-content .fa-spin {
    position: absolute;
    right: 23px;
    bottom: 16px;
}