@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-thin/roboto-thin.woff') format('woff'),
         url('../font/roboto-thin/roboto-thin.woff2') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-light/roboto-light.woff') format('woff'),
         url('../font/roboto-light/roboto-light.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-regular/roboto-regular.woff') format('woff'),
         url('../font/roboto-regular/roboto-regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-medium/roboto-medium.woff') format('woff'),
         url('../font/roboto-medium/roboto-medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-bold/roboto-bold.woff') format('woff'),
         url('../font/roboto-bold/roboto-bold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-black/roboto-black.woff') format('woff'),
         url('../font/roboto-black/roboto-black.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
}