<nav class="sidebar">
    <ul class="list-group">
        <li>
            <a  class="list-group-item" routerLink="/dashboard" routerLinkActive="router-link-active">
                <i class="fa fa-fw fa-dashboard"></i> Dashboard
            </a>
        </li>
        <li>
            <a  class="list-group-item" routerLink="/merchant" routerLinkActive="router-link-active">
                <i class="fa fa-fw fa-dashboard"></i> Merchant
            </a>
        </li>
    </ul>
</nav>