<div class="reset-area">
    <section id="register-content">
		<div class="container">
            <h2 class="brand-logo">
                <a routerLink="/login">Eatenary</a>
            </h2>
            <div class="button-area">
                <div class="button-block">
                    <a class="fb-login-button button button-primary button-oa2-facebook login-provider register-oa2-facebook fb pull-left">
                        <i class="fa fa-facebook"></i>
                        Connect with Facebook
                    </a>
                    <a class="button button-primary button-oa2-google-oauth2 login-provider register-oa2-google-oauth2 google pull-left" id="g-signin">
                        <i class="fa fa-google-plus"></i>
                        Connect with Google
                    </a>
                </div>
            </div>

            <form class="form-validate" [formGroup]="form">
                <div class="row form-group">
                    <div class="col-md-12">
                        <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email" required="required" />

                        <div *ngIf="formErrors.email" class="alert alert-danger">
                            {{ formErrors.email }}
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <input type="text" name="first_name" class="form-control" placeholder="First Name" formControlName="first_name" required="required" />

                        <div *ngIf="formErrors.first_name" class="alert alert-danger">
                            {{ formErrors.first_name }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="last_name" class="form-control" placeholder="Last Name" formControlName="last_name" required="required" />

                        <div *ngIf="formErrors.last_name" class="alert alert-danger">
                            {{ formErrors.last_name }}
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <input type="password" name="password" class="form-control" placeholder="Password" formControlName="password" required="required" />

                        <div *ngIf="formErrors.password" class="alert alert-danger">
                            {{ formErrors.password }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="password" name="password_confirmation" class="form-control" placeholder="Retype password" formControlName="password_confirmation" required="required" />

                        <div *ngIf="formErrors.password_confirmation" class="alert alert-danger">
                            {{ formErrors.password_confirmation }}
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <input type="text" name="birth_place" class="form-control" placeholder="Birth place" formControlName="birth_place" required="required" />

                        <div *ngIf="formErrors.birth_place" class="alert alert-danger">
                            {{ formErrors.birth_place }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="birth_date" class="form-control" placeholder="Birth Date" formControlName="birth_date" required="required" />

                        <div *ngIf="formErrors.birth_date" class="alert alert-danger">
                            {{ formErrors.birth_date }}
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="" class="head-label">Gender</label>
                    </div>
                    <div class="col-md-6">
                        <ul class="flat radio pull-right">
                            <li>
                                <input type="radio" name="gender" value="1" id="radio01" formControlName="gender"  required="required" />
                                <label for="radio01"><span></span>Male</label>
                            </li>
                            <li>
                                <input type="radio" name="gender" value="0" id="radio02" formControlName="gender" />
                                <label for="radio02"><span></span>Female</label>
                            </li>
                        </ul>

                        <div *ngIf="formErrors.gender" class="alert alert-danger">
                            {{ formErrors.gender }}
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <textarea name="address" class="form-control" placeholder="Address" formControlName="address"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <select class="form-control" name="country_id" #country (change)="countryChanged(country.value)" formControlName="country_id">
                            <option value="">Country</option>
                            <option *ngFor="let country of countries" [value]="country._id">{{ country.name | capitalize }}</option>
                        </select>
                        <i class="fa fa-refresh fa-spin fa-fw" [hidden]="countries"></i>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" [ngClass]="{'disable': !provinces}" name="province_id" formControlName="province_id" #province (change)="provinceChanged(province.value)">
                            <option [value]="null">Province</option>
                            <option *ngFor="let province of provinces" [value]="province._id">{{ province.name | capitalize }}</option>
                        </select>
                        <i class="fa fa-refresh fa-spin fa-fw" [ngStyle]="{'visibility': province_loading}"></i>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <select class="form-control" [ngClass]="{'disable': !cities}" name="city_id" formControlName="city_id">
                            <option [value]="null">City</option>
                            <option *ngFor="let city of cities" [value]="city._id">{{ city.name }}</option>
                        </select>
                        <i class="fa fa-refresh fa-spin fa-fw" [ngStyle]="{'visibility': city_loading}"></i>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="postalcode" class="form-control" placeholder="Postal Code" formControlName="postal_code" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <input type="text" name="handphone" class="form-control" placeholder="Handphone" formControlName="handphone" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="telephone" class="form-control" placeholder="Telephone" formControlName="telephone" />
                    </div>
                </div>
                <div class="row form-group">
                    <ul class="flat radio term">
                        <li>
                            <input type="checkbox" id="checkbox1" name="agreement" formControlName="agreement" value="1" required="required" />
                            <label for="checkbox1">
                                <span></span>
                                By Register. you agree to the <a href="#">Term of Service &amp; Privacy Policy</a>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="button-area">
                    <input type="submit" name="" value="Register" class="btn btn-primary" [disabled]="!form.valid || !form.value.agreement" />
                </div>
            </form>
            <h6 class="wording">
                Already have an account?
                <a routerLink="login">Login here</a>
            </h6>
		</div>
	</section>
</div>